* {
    margin: 0;
    padding: 0;
}

.container-custom {
    width: 100%;
;
    display: flex;
}
.fa-google{

  color: #ff5f54;  
}
.fa-facebook-f{
    color: rgb(59, 123, 243);
}
.fa-twitter{
    color:rgb(87, 195, 238);
   
}
.img-container {
    padding: 50px;
    width: 50%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(243, 237, 245), rgb(235, 164, 11));
}
.img-container img{
    width:100%;
}
.logincontainer {
    width: 50%;
  
    background: linear-gradient(45deg, rgb(220, 224, 217), rgb(26, 112, 240));
}

.fontstyle {
   
    font-size: 5rem;
    margin-top: 10%;
    font-family: 'Noto Sans Tagbanwa', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(26, 76, 240));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

}

.login-form {
    margin: 10% 1%;
    border-radius: 5px;
    height: 500px;
    text-align: center;
    /* background-color: #eeebeb; */
    padding: 20px;
}

.icon2 i {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
background-color: #dadbdf; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 50px;

}

.login-content {
    text-align: center;
    /* background-color: #eeebeb; */
    padding: 10px;
    margin: 10px;
    font-family: 'Noto Sans Tagbanwa', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.input-container input {
    margin: 10px;
    /* width: 400px; */
    border-radius: 30px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
.icons{
   
    display: flex;
    justify-content: center;
    padding: 20px;
}
 .icon { 
    font-size: 30px;
   background-color:linear-gradient(45deg, red, blue);
   padding: 20px;
   
}
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
@media screen and (max-width: 1000px) {
.img-container {
    width: 0%;
    display: none;
}
.logincontainer{
    width: 100%;
}

}